GuessNumberGame/Client/Service References/ServiceGame/Server.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="Server" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="Server" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="Server/Imports">
      <xsd:import namespace="Server" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Server" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGame_checkNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:checkNumber" />
  </wsdl:message>
  <wsdl:message name="IGame_checkNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:checkNumberResponse" />
  </wsdl:message>
  <wsdl:message name="IGame_countGuessTimes_InputMessage">
    <wsdl:part name="parameters" element="tns:countGuessTimes" />
  </wsdl:message>
  <wsdl:message name="IGame_countGuessTimes_OutputMessage">
    <wsdl:part name="parameters" element="tns:countGuessTimesResponse" />
  </wsdl:message>
  <wsdl:message name="IGame_quitGame_InputMessage">
    <wsdl:part name="parameters" element="tns:quitGame" />
  </wsdl:message>
  <wsdl:message name="IGame_quitGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:quitGameResponse" />
  </wsdl:message>
  <wsdl:message name="IGame_winner_InputMessage">
    <wsdl:part name="parameters" element="tns:winner" />
  </wsdl:message>
  <wsdl:message name="IGame_winner_OutputMessage">
    <wsdl:part name="parameters" element="tns:winnerResponse" />
  </wsdl:message>
  <wsdl:message name="IGame_OngameInterupted_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OngameInterupted" />
  </wsdl:message>
  <wsdl:message name="IGame_OngameInterupted_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OngameInteruptedResponse" />
  </wsdl:message>
  <wsdl:message name="IGame_OnCountGuessTimes_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnCountGuessTimes" />
  </wsdl:message>
  <wsdl:message name="IGame_OnCountGuessTimes_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnCountGuessTimesResponse" />
  </wsdl:message>
  <wsdl:message name="IGame_OnWinner_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnWinner" />
  </wsdl:message>
  <wsdl:message name="IGame_OnWinner_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnWinnerResponse" />
  </wsdl:message>
  <wsdl:portType name="IGame">
    <wsdl:operation name="checkNumber">
      <wsdl:input wsaw:Action="Server/IGame/checkNumber" message="tns:IGame_checkNumber_InputMessage" />
      <wsdl:output wsaw:Action="Server/IGame/checkNumberResponse" message="tns:IGame_checkNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="countGuessTimes">
      <wsdl:input wsaw:Action="Server/IGame/countGuessTimes" message="tns:IGame_countGuessTimes_InputMessage" />
      <wsdl:output wsaw:Action="Server/IGame/countGuessTimesResponse" message="tns:IGame_countGuessTimes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="quitGame">
      <wsdl:input wsaw:Action="Server/IGame/quitGame" message="tns:IGame_quitGame_InputMessage" />
      <wsdl:output wsaw:Action="Server/IGame/quitGameResponse" message="tns:IGame_quitGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="winner">
      <wsdl:input wsaw:Action="Server/IGame/winner" message="tns:IGame_winner_InputMessage" />
      <wsdl:output wsaw:Action="Server/IGame/winnerResponse" message="tns:IGame_winner_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OngameInterupted">
      <wsdl:output wsaw:Action="Server/IGame/OngameInterupted" message="tns:IGame_OngameInterupted_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="Server/IGame/OngameInteruptedResponse" message="tns:IGame_OngameInterupted_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnCountGuessTimes">
      <wsdl:output wsaw:Action="Server/IGame/OnCountGuessTimes" message="tns:IGame_OnCountGuessTimes_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="Server/IGame/OnCountGuessTimesResponse" message="tns:IGame_OnCountGuessTimes_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnWinner">
      <wsdl:output wsaw:Action="Server/IGame/OnWinner" message="tns:IGame_OnWinner_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="Server/IGame/OnWinnerResponse" message="tns:IGame_OnWinner_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>