GuessNumberGame/Client/Service References/ServiceGame/Server.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="Server" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="Server" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="Server/Imports">
      <xsd:import namespace="Server" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Server" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGame_CheckNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckNumber" />
  </wsdl:message>
  <wsdl:message name="IGame_CheckNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckNumberResponse" />
  </wsdl:message>
  <wsdl:message name="IGame_QuitGame_InputMessage">
    <wsdl:part name="parameters" element="tns:QuitGame" />
  </wsdl:message>
  <wsdl:message name="IGame_QuitGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:QuitGameResponse" />
  </wsdl:message>
  <wsdl:message name="IGame_OnGameInterupted_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnGameInterupted" />
  </wsdl:message>
  <wsdl:message name="IGame_OnGameInterupted_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnGameInteruptedResponse" />
  </wsdl:message>
  <wsdl:message name="IGame_OnWinner_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnWinner" />
  </wsdl:message>
  <wsdl:message name="IGame_OnWinner_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnWinnerResponse" />
  </wsdl:message>
  <wsdl:portType name="IGame">
    <wsdl:operation name="CheckNumber">
      <wsdl:input wsaw:Action="Server/IGame/CheckNumber" message="tns:IGame_CheckNumber_InputMessage" />
      <wsdl:output wsaw:Action="Server/IGame/CheckNumberResponse" message="tns:IGame_CheckNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QuitGame">
      <wsdl:input wsaw:Action="Server/IGame/QuitGame" message="tns:IGame_QuitGame_InputMessage" />
      <wsdl:output wsaw:Action="Server/IGame/QuitGameResponse" message="tns:IGame_QuitGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnGameInterupted">
      <wsdl:output wsaw:Action="Server/IGame/OnGameInterupted" message="tns:IGame_OnGameInterupted_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="Server/IGame/OnGameInteruptedResponse" message="tns:IGame_OnGameInterupted_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnWinner">
      <wsdl:output wsaw:Action="Server/IGame/OnWinner" message="tns:IGame_OnWinner_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="Server/IGame/OnWinnerResponse" message="tns:IGame_OnWinner_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>