MDW_GuessNumberGame/Client/Service References/ServiceReference1/MDW_GuessNumberGame.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="MDW_GuessNumberGame" elementFormDefault="qualified" targetNamespace="MDW_GuessNumberGame" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/GameContract" />
  <xs:element name="StartGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GameContract" minOccurs="0" name="p1" nillable="true" type="q1:Player" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GameContract" minOccurs="0" name="p2" nillable="true" type="q2:Player" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartGameResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CountGuessTime">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CountGuessTimeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InvitePlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GameContract" minOccurs="0" name="p1" nillable="true" type="q3:Player" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GameContract" minOccurs="0" name="p2" nillable="true" type="q4:Player" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InvitePlayerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InvitePlayerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/GameContract" minOccurs="0" name="p1" nillable="true" type="q5:Player" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>